body > #root > div {
    height: 100vh;
  }
.app {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}
#drum-machine {
    background-color: #e2f3f5;
    width: 60vw;
    height: 65vh;
    display: grid;
    grid-template-rows: 3rem 1fr;
    grid-template-areas: 
    "display display display"
    "drum-pads drum-pads drum-pads"
    "drum-pads drum=pads drum-pads"
    "drum-pads drum-pads drum-pads";
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.61);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.61);
}
.drum-pad-wrapper {
    grid-area: "drum-pads";
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
}
.drum-pad {
    border: 1px solid;
    display: grid;
    place-items: center;
    padding: 2rem;
    background-color: #22d1ee;
    min-width: 5rem;
    min-height: 3rem;
    font-size: 200%;
    color: black;
}
#display {
    grid-area: "display";
    padding: 5px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 33%;
    text-align: center;
    background-color: #3d5af1;
    color: white;
    border: 1px solid white;;
}
